* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
}
.container {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  animation: shakebody linear 6s infinite;
}

#btn {
  margin: 15px;
  margin-left: 48vw;
  position: relative;
  /* z-index: 2; */
  cursor: pointer;
}

.sky {
  height: 100vh;
  width: 100vw;
  background-image: url(../others/background.jpg);
  background-repeat: no-repeat;
  position: absolute;
}

.trees {
  height: 100vh;
  width: 100vw;
  background-image: url(../others/trees.png);
  background-size: cover;
  position: absolute;
  top: -120px;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url(../others/track.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 80vh;
}

.car {
  height: 100px;
  width: 380px;
  background-image: url(../others/car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 200px;
  bottom: 20vh;
}

.wheel1 img {
  width: 77px;
  position: relative;
  top: 42px;
  left: 42px;
}

.wheel2 img {
  width: 77px;
  position: relative;
  top: -39px;
  left: 235px;
}

@keyframes wheelRotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes carMove {
  100% {
    transform: translateX(-500vw);
  }
}

@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
/* @keyframes shakebody {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
} */

@media screen and (max-width: 427px) {
  .car {
    left: 10px;
  }
}
@media screen and (max-width: 378px) {
  .car {
    left: -10px;
  }
}
@media screen and (max-width: 325px) {
  .car {
    left: -25px;
  }
}
@media screen and (max-height: 480px) {
  .trees {
    top: -100px;
  }
}
@media screen and (max-height: 325px) {
  .trees {
    top: -93px;
  }
}

@media screen and (max-width: 300px) {
  body {
    display: none;
  }
}

@media screen and (max-height: 320px) {
  body {
    display: none;
  }
}
